.image_button{
  width: 45%;
  height: auto;
  margin-left: 2.2%;
  margin-right: 2.2%;
  border: 3px solid black;
  border-radius: 15px;
  box-sizing: border-box;
}
.shop_container{
  position: relative;
  text-align: center;
}
.shop_image{
  width: 100%;
  height: auto;
  border: 5px solid saddlebrown;
  box-sizing: border-box;
  border-radius: 15px;
}
.shop_image:hover{
  filter: brightness(90%);
}
.shop_title{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  bottom: 25px; /*hopefully it will not be bad*/
  right: 16px;
}
.shop_description{
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  bottom: 0px;
}
.person_image{
  width: 100px;
  border: 3px solid blueviolet; /*Person's decision*/
}
.person_name{
  font-family: Arial, Helvetica, sans-serif;
}
div.video_1{
  background-color: #69588c;
}
div.video_2{
  background-color: #8c588b;
}
div.video_3{
    background-color: #3a4e59;
}
.video_heading{
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: white;
}
.tournament_block{
    width: 110px;
    height: 20px;
    border: 1px solid black;
    background-color: rgb(240, 255, 240);
    text-align: left;
    font-size: 16px;
    margin: 1px;
}
@font-face {
  font-family: liam-font;
  src: url(humantooth-type-v1.woff2);
}
@font-face {
  font-family: font1;
  src: url(kindergarten.ttf);
}
